/.ipynb_checkpoints
/.vscode
/All_Special_Dataset
/Costumer_Behaviour_Analysis
/Global_Crude_Oil_Trade_Analysis
/Matplotlib_try
/ML_Full_Course
/Numpy_try
/Numpy_try2
/Sales_Analysis(Trial_Pandas)
/SciKit_Learn
/Scipy_try
/Student_Performance_Analysis
/World_Happiness_Report_2019